.logo {
  display: block;
  width: 600px;
  min-width: min(600px, 40vw);
  max-width: 80vw;
  height: auto;
  margin: auto;

  & + p {
    text-align: center;
    font-size: 1.2em;
  }
}

.taglist {
  display: flex;
  flex-flow: row wrap;
  gap: 1.2em 1.2ch;
  margin: 0.5rem 0px;
  padding: 0px 1ch;

  & li {
    flex: 1 1;
    display: block;
    padding: 0.8em 1.5ch;
    min-width: max-content;
    border-radius: 1rem;
    text-align: center;
    background-color: var(--highlight);
    box-shadow: 1px 1px 3px var(--dark);
  }
}

.fgo {
  background-color: #2e627a;
  background-image: radial-gradient(ellipse at top, #2e2c6a, transparent),
    radial-gradient(ellipse at bottom, #680c5f, transparent);
}

.mdrn {
  background-image: radial-gradient(
      ellipse at 3% -1%,
      #4a5950 41%,
      rgba(255, 255, 255, 0) 83%
    ),
    radial-gradient(
      circle at -93% -118%,
      #642114 78%,
      rgba(255, 255, 255, 0) 95%
    ),
    radial-gradient(ellipse at 3% 52%, rgba(255, 255, 255, 0) 0%, #0d0e1a 54%);
}

.fxkt {
  background-color: #222;
  background-image: linear-gradient(to top, #141414d9, transparent),
    linear-gradient(45deg, #141414ff 25%, transparent 25%),
    linear-gradient(-45deg, #141414ff 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #141414ff 75%),
    linear-gradient(-45deg, transparent 75%, #141414ff 75%),
    radial-gradient(ellipse at top, #232323d9, transparent);
  background-size: 100% 100vh, 48px 48px, 48px 48px, 48px 48px, 48px 48px,
    100% 100vh;
  background-position: 0 0, 0 0, 0 24px, 24px -24px, -24px 0px, 0 0;
}

.pkmn {
  background-image: url(../../assets/bgpkmn.jpg);
  background-size: cover;
  background-position: bottom center;
  color: var(--dark);
  & h1 {
    text-shadow: 1px 1px 1.5px var(--dark);
  }
}

.pcapi {
  background-color: #001220;
  background-image: radial-gradient(
    ellipse at 30% 130%,
    #771515cc 20%,
    transparent 66%
  );
}

#cta {
  font-size: 1.1em;
  line-height: 150%;
  text-align: center;
  margin: 1.5em 0.8em;
  padding: 2em min(5%, 2rem);
  background-color: var(--dark);
  box-shadow: 2px 2px 4px var(--dark), inset 1px 1px 4px var(--highlight);
  border-radius: 0.5em;

  & a {
    background: var(--highlight);
    padding: 0.25em 0.25ch;
  }
}
