---
import type { HTMLAttributes } from "astro/types";
import type { HTMLProps } from "~/types/HTMLProps";

// TODO: I think this is using the JS version of a rule in a TS file. Might need to fix that in config...
// eslint-disable-next-line no-unused-vars
type SvgComponent = (props: HTMLProps<"svg">) => any;

interface Props extends HTMLAttributes<"a"> {
  icon: SvgComponent;
  href: string;
  "aria-label": string;
  target?: "_blank";
}

const { icon: IconComponent, rel, ...aProps } = Astro.props;
const relNormalized = Array.from(
  new Set(["noopener", "noreferrer", ...(rel?.split(" ") || [])])
).join(" ");
---

<li>
  <a {...aProps} class="button" target="_blank" rel={relNormalized}>
    <IconComponent />
  </a>
</li>

<style>
  li:hover {
    transform: scale(var(--hover-scale));
    transition: transform var(--speed) var(--ease);
  }
</style>
