:root {
  /** Colours **/
  --text: #100405;
  --background: #f3ecec;
  --primary: #ffbb5c;
  --secondary: #dad7db;
  --accent: #ad1f4e;

  /** non-themeable **/
  --shadow: #1004058f;
  --speed: 250ms;
  --ease: ease-out;
  --hover-scale: 1.075;
  --header-height: 2.5rem; /* TODO: based on min(?vmax, 4rem) or something similar? */
  --icon-size: calc(var(--header-height) * 0.75);
  --content-width: min(90vw, 1480px);
  --radius: 0.5rem;
  --radius-large: 1rem;
}

:root[data-theme="light"] {
  --text: #100405;
  --background: #f3ecec;
  --primary: #ffbb5c;
  --secondary: #dad7db;
  --accent: #ad1f4e;
}

:root[data-theme="dark"] {
  --text: #fbeff0;
  --background: #130c0c;
  --primary: #ffbb5c;
  --secondary: #272428;
  --accent: #e05281;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fbeff0;
    --background: #130c0c;
    --primary: #ffbb5c;
    --secondary: #272428;
    --accent: #e05281;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  line-height: 1.3em;
}

html,
body {
  max-width: 100%;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  font-family: "Atkinson Hyperlegible";
  font-weight: 400;
}

html {
  font-size: 18px;
}

body {
  background-color: var(--background);
  color: var(--text);
}

h1,
h2,
h3,
h4,
h5,
.title {
  font-family: "Lexend";
  font-weight: 700;
}

h1 {
  font-size: 3.053rem;
}

h2 {
  font-size: 2.442rem;
}

h3 {
  font-size: 1.954rem;
}

h4,
.big {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

small,
.small {
  font-size: 0.8rem;
}

a,
.link {
  text-decoration: underline;
  color: var(--text);
  transition: color var(--speed) var(--ease);
  &:hover {
    color: var(--accent);
  }
}

:where(button.link) {
  border: 0px;
  font-size: inherit;
  background: transparent;
  padding: 0px;
  display: inline-block;
}

button,
input {
  font-family: inherit;
}

.button {
  font-size: inherit;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--radius);
  color: var(--text);
  padding: 2px;
  transition: border-color var(--ease) var(--speed);
}

.button:hover,
.button:focus {
  color: var(--primary);
  border-color: currentColor;
}

.button:active,
.button.active {
  color: var(--accent);
}

@media (--mq-small) {
  :root {
    --header-height: 3rem;
  }
  .button {
    padding: 0.25em;
  }
}

@media (--mq-large) {
  :root {
    --header-height: 4rem;
  }
  .button {
    padding: 0.5em;
  }
}
