---
import Hero from "~/components/Hero.astro";
import Page from "~/layouts/Page.astro";

const title = "Mitsunee";
const description =
  "Freelance Web Developer | Open Source Developer and Contributor | Sometimes Translation Volunteer";
---

<Page title={title} description={description}>
  <Hero />
  <h1>PLACEHOLDER</h1>
</Page>
