---
import { Discord, GitHub, YouTube } from "iconoir-react";
import ocBig from "~/assets/mitsu_oc_big.png";
import ocSmall from "~/assets/mitsu_oc_small.png";
import { IconMastodon } from "~/components/IconMastodon";
import { IconSteam } from "~/components/IconSteam";
import Picture from "~/components/Picture.astro";
import Page from "~/layouts/Page.astro";
---

<Page
  title="Mitsunee"
  description="Nonbinary web developer, music-addict and Linux user from Germany">
  <section id="hero">
    <Picture image={ocBig} alt="Mitsunee" class="ocBig" />
    <Picture image={ocSmall} alt="Mitsunee" class="ocSmall" />
    <div>
      <h1>Mitsunee</h1>
      <p>Nonbinary web developer, music-addict and Linux user from Germany</p>
      <ul id="socials">
        <li>
          <a
            class="button"
            href="https://ieji.de/@mitsunee"
            target="_blank"
            rel="noopener noreferrer me"
            aria-label="Mastodon"
            style={{ "--primary": "#6364FF" }}>
            <IconMastodon />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://github.com/Mitsunee"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Github">
            <GitHub />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://youtube.com/@mitsunee_"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
            style={{ "--primary": "red" }}>
            <YouTube />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://discord.com/users/140002643878739968"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Discord Profile"
            style={{ "--primary": "#5865F2" }}>
            <Discord />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://steamcommunity.com/id/mitsunee/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Steam">
            <IconSteam />
          </a>
        </li>
      </ul>
    </div>
  </section>
</Page>

<style is:global>
  #hero {
    width: var(--content-width);
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .ocBig {
      display: none;
    }

    & .ocSmall {
      display: block;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
    }

    & > div {
      padding: 0.5rem;
      text-align: center;
    }

    & h1 {
      margin: 1.5rem 0px;
      width: 100%;
      text-shadow: 2px 2px 4px var(--accent);
    }
  }

  #socials {
    list-style: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  @media (--mq-medium) {
    #hero {
      flex-flow: row nowrap;
      /* align-items: flex-start; */
      & .ocBig {
        display: block;
      }
      & .ocSmall {
        display: none;
      }
      & > div {
        padding: 1rem;
      }
    }
    #socials {
      font-size: 1.25rem;
    }
  }
</style>
