---
import { Discord, GitHub, YouTube } from "iconoir-react";
import ocBig from "~/assets/mitsu_oc_big.png";
import ocSmall from "~/assets/mitsu_oc_small.png";
import { IconMastodon } from "~/components/IconMastodon";
import { IconPronounsPage } from "~/components/IconPronounsPage";
import { IconSteam } from "~/components/IconSteam";
import Picture from "~/components/Picture.astro";
import Section from "~/components/Section.astro";
import Page from "~/layouts/Page.astro";
---

<Page
  title="Mitsunee"
  description="Nonbinary web developer, music-addict and Linux user from Germany">
  <section id="hero">
    <Picture image={ocBig} alt="Mitsunee" class="ocBig" />
    <Picture image={ocSmall} alt="Mitsunee" class="ocSmall" />
    <div>
      <h1>Mitsunee</h1>
      <p>Nonbinary web developer, music-addict and Linux user from Germany</p>
      <ul id="socials">
        <li>
          <a
            class="button"
            href="https://ieji.de/@mitsunee"
            target="_blank"
            rel="noopener noreferrer me"
            aria-label="Mastodon"
            style={{ "--primary": "#6364FF" }}>
            <IconMastodon />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://en.pronouns.page/@mitsunee"
            target="_blank"
            rel="noopener noreferrer me"
            aria-label="Pronouns.page"
            style={{ "--primary": "#c71585" }}>
            <IconPronounsPage />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://github.com/Mitsunee"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Github">
            <GitHub />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://youtube.com/@mitsunee_"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="YouTube"
            style={{ "--primary": "red" }}>
            <YouTube />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://discord.com/users/140002643878739968"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Discord Profile"
            style={{ "--primary": "#5865F2" }}>
            <Discord />
          </a>
        </li>
        <li>
          <a
            class="button"
            href="https://steamcommunity.com/id/mitsunee/"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Steam">
            <IconSteam />
          </a>
        </li>
      </ul>
    </div>
  </section>
  <Section background>
    <h2>About me</h2>
    <p>
      I identify as Transfemme/<wbr />Agenderfluid (fluctuating between female
      and agender, aka Femflux) and came out online in 2015-ish, though I'm
      still mostly boymoding in reallife. I usually simplify my (online)
      identity as Nonbinary (she/they). I may possibly be somewhere on the
      Autism spectrum but have no official diagnosis (yet).
    </p>
    <p>
      I play Fate/Grand Order, Honkai Star Rail and collect Rubik's
      Cube-inspired puzzles and Anime plush dolls/<wbr />Nesoberi. I listen to
      Metal, sometimes Drum&Bass or Hardstyle, watch way too much YouTube and
      sometimes Esports broadcasts, or whatever friends of mine are
      livestreaming.
    </p>
    <p>
      I've been tinkering with web development since childhood (initially with
      PHP) and started learning JavaScript (and later Node.js) in 2016. In 2019
      I switched from Windows 7 to Linux (currently Fedora KDE Spin) and never
      looked back. Sometimes I also try to create pixelart such as my current
      profile picture, which represents my female personality.
    </p>
  </Section>
  <div style={{ minHeight: "100dvh" }}></div>
</Page>

<style is:global>
  #hero {
    width: var(--content-width);
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & .ocBig {
      display: none;
    }

    & .ocSmall {
      display: block;
      border-bottom-left-radius: 100%;
      border-bottom-right-radius: 100%;
    }

    & > div {
      padding: 0.5rem;
      text-align: center;
      & p {
        text-align: center;
      }
    }

    & h1 {
      margin: 1.5rem 0px;
      width: 100%;
      text-shadow: 2px 2px 4px var(--accent);
    }
  }

  #socials {
    list-style: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  @media (--mq-medium) {
    #hero {
      flex-flow: row nowrap;

      & .ocBig {
        display: block;
      }
      & .ocSmall {
        display: none;
      }
      & > div {
        padding: 1rem;
      }
    }
    #socials {
      font-size: 1.25rem;
    }
  }
</style>
