---
type Props = {
  class?: string;
  background?: boolean;
};
---

<section
  class:list={["section", { bg: Astro.props.background }, Astro.props.class]}>
  <slot />
</section>

<style>
  .section {
    width: var(--content-width);
    margin: 1rem auto;
  }

  .section.bg {
    background-color: var(--secondary);
    border-radius: var(--radius-large);
    padding: 1rem;
  }
</style>
