<div>
  <slot />
</div>

<style>
  div {
    width: 100%;
    min-height: var(--bar-height);
    padding: 1rem var(--bar-height);
    margin: 1rem 0px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 0.5rem 1rem;
    background-color: var(--dark);
  }
</style>
