---
import { ThemeSelector } from "~/components/ThemeSelector";
import type { PageMeta } from "~/types/meta";
import Document from "./Document.astro";

type Props = PageMeta;
---

<Document {...Astro.props}>
  <header>
    <a href="/">
      <img
        src="/assets/icons/icon.svg"
        width="54px"
        height="54px"
        alt="Mitsunee"
      />
    </a>
    <ThemeSelector client:only />
  </header>
  <main id="content"><slot /></main>
</Document>

<style is:global>
  body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
    min-height: 100dvh;
  }

  body > header {
    height: var(--header-height);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0.5rem;
    background-color: var(--secondary);

    @media (--mq-small) {
      padding: 0px 1rem;
    }

    @media (--mq-medium) {
      padding: 0px var(--header-height);
    }

    & a {
      height: var(--icon-size);
      & img {
        height: 100%;
        width: auto;
      }
    }
  }

  body > main#content {
    flex-grow: 1;
    padding-top: 1rem;
    padding-bottom: 3rem;
    width: 100%;
  }
</style>
